    <div ng-include="'components/navbar/navbar.html'"></div>

    <header class="hero-unit" id="banner">
        <div class="container">
            <h1>govTrail</h1>
            <p class="lead">Search the Congressional Record and the Federal Register</p>
        </div>
    </header>

<div class="container" id="search-type">
    <div class="row">
        <div class="col-lg-12">
            <div class="btn-group">
                <a ui-sref="main.federal">
                    <label class="btn btn-primary" ng-model="searchType" btn-radio="'1'" uncheckable>Federal Register</label>
                </a>
                <a ui-sref="main.congress">    
                <label class="btn btn-primary" ng-model="searchType" btn-radio="'2'" uncheckable>Bills In Congress</label>
            </a>
            </div>
        </div>
    </div>
</div>


<div ui-view></div>


<footer class="footer">
    <div class="container">
        <a href="https://twitter.com/govTrackr">@govTrail</a>
        </p>
    </div>
</footer>