<div ng-include="'components/navbar/navbar.html'"></div>
<header class="hero-unit" id="banner">
    <div class="container">
        <h1>govTrail</h1>
        <p class="lead">Search the Congressional Record and the Federal Register</p>
    </div>
</header>

<div class="container" id="search-type">
    <div class="row">
        <div class="col-lg-12">
            <div class="btn-group">
                <h2>U.S. Congress - Legislative Branch</h2>
                <a ui-sref="congress.bills">
                    <label class="btn btn-primary" ng-model="searchType" btn-radio="'1'" uncheckable>Search Bills</label>
                </a>
                <a ui-sref="congress.votes">
                    <label class="btn btn-primary" ng-model="searchType" btn-radio="'2'" uncheckable>Search Votes</label>
                </a>
                <a ui-sref="congress.legislators">
                    <label class="btn btn-primary" ng-model="searchType" btn-radio="'3'" uncheckable>Find Local Legislators</label>
                </a>
                <a ui-sref="congress.about">
                    <label class="btn btn-primary" ng-model="searchType" btn-radio="'4'" uncheckable>About</label>
                </a>
            </div>
            
        </div>
    </div>
</div>

<div ui-view></div>
