<div ng-include="'components/navbar/navbar.html'"></div>
<header class="hero-unit" id="banner">
    <div class="container">
        <h1>govTrail</h1>
        <p class="lead">Search the Congressional Record and the Federal Register</p>
    </div>
</header>
<!-- begin button group -->
<div class="container" id="search-type">
    <div class="row">
        <div class="col-lg-12">
            <h2>Executive Branch of the U.S. Federal Government</h2>
            <div class="btn-group">
                <a ui-sref="federal.register">
                    <label class="btn btn-primary" ng-model="searchType" btn-radio="'1'" uncheckable>Federal Register</label>
                </a>
                <a ui-sref="federal.agencies">
                    <label class="btn btn-primary" ng-model="searchType" btn-radio="'2'" uncheckable>Agencies</label>
                </a>
            </div>
            <h3>About:</h3>
            <p>The day-to-day enforcement and administration of federal laws is in the hands of the various federal executive departments, created by Congress to deal with specific areas of national and international affairs. The heads of the 15 departments, chosen by the President and approved with the "advice and consent" of the U.S. Senate, form a council of advisers generally known as the President's "Cabinet".</p>
        </div>
    </div>
</div>

<!-- end button group -->

<!-- <a ui-sref="federal.agencies">Agencies</a> -->
 <div ui-view></div>
